<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="assets/favicon.png">

</head>

<body>

    <section class="fix">
        <div class="main">

            <figure><img src="assets/sun.png" class="sun"><span><img src="assets/earth.png" class="earth move"></span> </figure>

        </div>
    </section>
    <section>



         <nav class="navbar navbar-expand-lg back">
            <h2 style="color: aliceblue;">Weather Application</h2>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/weather">Weather</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About us</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid ">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="row">
                        <div class=" col-md-6 col-12 main_header_right">
                            <figure>
                                <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="assets/IMG_20200105_182534.JPG" alt="Card image cap">
                                    <div class="card-body">
                                        <h1 class="card-title">About Me</h1>
                                        <p class="card-text">I am Ravi Kumar Gupta and I am a Computer Science Engineer.</p>

                                    </div>
                                </div>

                            </figure>

                        </div>
                        <div class="col-md-6 col-12 main_header_left">
                            <h1>Follow me on</h1>
                            <a href="https://www.instagram.com/" target="_blank"><img src="Assets/insta.png" class="socialmedia">&nbsp;Insagram</a>
                            <a href="https://www.linkedin.com/" target="_blank"><img src="Assets/lin.png" class="socialmedia" style="border-radius: 50%;">&nbsp;Linkedin</a>
                            <h1>For any Queris mail me</h1>
                            <form action="mailto:gravi4523@gmail.com" method="POST"><img src="Assets/mail.png" class="socialmedia">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="submit" value="Gmail" style="background: none; color:aliceblue; border:none">
                            </form>

                        </div>


                    </div>

                </div>
            </div>
        </div>

        <footer>
            <p>Created by Ravi Kumar Gupta</p>
        </footer>
    </section>


    <!-- JavaScript Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</body>


</html>